---
---

<p>
Hi, I'm amyrmahdy. I work with data—whether it's building machine learning models, designing efficient data pipelines, or creating tools to help businesses make better decisions. Recently, I developed a chatbot using RAG and vector databases that reduced customer support workload by 30%, and I'm currently exploring time-series forecasting for crypto prices.
</p>
