---
import Nav from "./Nav.astro";
const hasMatomo = typeof window._paq !== 'undefined';
---

<header class="flex justify-between my-4 border-b-2 border-b-sky-500 pb-2">
  <div class="text-left">
    <span
      ><a href="/" class="tracking-widest no-underline text-xl"
        >Turning Complex Problems into Simple, Impactful Solutions</a
      ></span
    >
  </div>
  <div class="text-right">
    <Nav />
  </div>
</header>

<!-- Example: Conditionally run scripts if Matomo isn't loaded -->
<script is:inline>
  if (!window._paq) {
    console.log('No Matomo detected');
    // Fallback analytics (if needed)
  }
</script>
